# Ignore env
env/
# Ignore logs
logs/

# Ignore data
**/data/
**/save
**/evaluation_saves
**/saved_models
**/save_finetune
**/vgg_models
**/save_woROB
**/save_tmp
**/train_samples
**/test_samples
**/save_aug
**/save_adversarial

# ignore folders 
__pycache__/
.vscode
benchmark/

models/__pycache__/

# Ignore tmp.pth files in any directory
**/tmp.pth

# Ignore pyc files
*.pyc